<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    
    <!-- ======================interpolation syntax===================================== -->
    <h2>calculation is <%= 2+2 %></h2>
    <p> <%= "naveen".toUpperCase() %> </p>
    <p> <%= ["hello","pooja"][1].toUpperCase() %> </p>
    <!-- =============================================================================== -->

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel tempore necessitatibus accusamus rem similique facere accusantium autem, dolor, itaque unde cum consequuntur officiis corporis. Laborum necessitatibus eius optio deleniti nostrum.</p>
    <button>click me</button>
</body>
</html>